* {
    box-sizing: border-box;
}
h1 {
    margin-bottom: .5rem;
}
h2 {
    margin-top: 2rem;
}

.skills {
    display: flex;
    list-style: none;
    padding: 0;
}
.skills li {
    margin-right: 1rem;
}
.skills li:last-of-type {
    margin-right: 0;
}



.employment {
    padding: 0;
    list-style: none;
}
.employment > li {
    margin-bottom: 1rem;
}



.education {
    list-style: none;
    padding: 0;
}
.education li {
    margin-bottom: 1rem;
}
.school {
    font-weight: 600;
}