* {
    box-sizing: border-box;
}

body {
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-size: 18pt;
}
h2 {
    font-size: 14pt;
    text-transform: uppercase;
}



.flex {
    display: flex;
    justify-content: space-between;
}








