/*
NOTES

OOCSS: structure, size, style
Think: btn, btn-large, btn-green

*/




/* CSS Variables */
:root {
    --header-min-height-mobile: 48px;
    --header-min-height-desktop: 90px;

    --primary-text-color: rgb(52, 72, 84);
    --secondary-text-color: rgb(103, 120, 138);

    --primary-link-color: rgb(40, 135, 225);
    --primary-link-hover-color: rgb(32, 110, 185);

    --primary-footer-bg-color: rgb(28, 28, 28);
    --primary-footer-text-color: rgb(175, 175, 175);
    --primary-footer-link-color: var(--primary-footer-text-color);
    --primary-footer-hover-color: rgb(137, 137, 137);
}


/* Minimal CSS Reset */
html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: var(--primary-text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.125rem;
    font-weight: normal;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1rem;
}
p:last-child {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    outline: none;
    text-decoration: none;
}

a:link,         /* A link that has not been visited */
a:visited {     /* A link that has been visited */
    color: var(--primary-link-color);
}
a:hover,        /* A link that is hovered on */
a:active {      /* A link that is selected */
    color: var(--primary-link-hover-color);
    text-decoration: underline;
}

ol, 
ul {
    list-style: none;
}



/* Utility Classes */
.center {
    text-align: center;
}

.overlay {
    margin-top: -5rem;
    padding: 1rem;
}
.outline {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
}







/* Global Styles */
section,
.section {
    padding: 4rem 2rem;
}

.title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.125;
    margin-bottom: 1.5rem;
    text-align: center;
}

.title-large {
    font-size: 2.5rem;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

.subtitle-large {
    font-size: 1.5rem;
}

.padding-bottom-large {
    padding-bottom: 10rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Header Styles */
header {
    align-items: center;
    border-bottom: 1px solid rgba(22, 22, 22, .16);
    display: flex;
    justify-content: space-between;
    line-height: 1.6875;
    min-height: 48px;
    padding: 0 1rem;
}

header h1 {
    font-size: 1.125rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}


/* Hero Section */

/* Highlight Section, with colored background, white text */
.highlight {
    background-color: #7510F7;
    color: #fff;
}







/* Footer Section */
footer {
    background-color: var(--primary-footer-bg-color);
    color: var(--primary-footer-text-color);
}

.invert-link-color:link,
.invert-link-color:visited {
    color: var(--primary-footer-link-color);
}
.invert-link-color:hover,
.invert-link-color:active {
    color: var(--primary-footer-hover-color);
}

.social {
    margin-bottom: 2rem;
    text-align: center;
}
.social li {
    display: inline-block;
    padding: 0 1rem;
}





/* Media Queries */

@media (min-width: 50em) {
    .max-width {
        margin: 0 auto;
        width: 60%;
    }

    .flex-container {
        flex-direction: row;
    }
}
@media (min-width: 60em) {
    header {
        min-height: 90px;
        padding: 0 4rem;
    }

    header h1 {
        font-size: 1.125rem;
        width: auto;
    }

    .title-large {
        font-size: 3rem;
    }
}