/* CSS Variables */
:root {
    --header-min-height-mobile: 48px;
    --header-min-height-desktop: 90px;

    --primary-text-color: rgb(52, 72, 84);
    --secondary-text-color: rgb(103, 120, 138);

    --primary-link-color: rgb(40, 135, 225);
    --primary-link-hover-color: rgb(32, 110, 185);

    --primary-footer-bg-color: rgb(28, 28, 28);
    --primary-footer-text-color: rgb(175, 175, 175);
    --primary-footer-link-color: var(--primary-footer-text-color);
    --primary-footer-hover-color: rgb(137, 137, 137);
}


/* Minimal CSS Reset */
html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.125rem;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

p {
    margin-bottom: 1rem;
}
p:last-child {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    outline: none;
    text-decoration: none;
}
/* A link that has not been visited */
a:link, 
/* A link that has been visited */
a:visited {
    color: var(--primary-link-color);
}
/* A link that is hovered on */
a:hover,
/* A link that is selected */
a:active {
    color: var(--primary-link-hover-color);
    text-decoration: underline;
}

ol, 
ul {
    list-style: none;
}


/* Set padding on each section, for consistency */
body > * {
    padding: 0 1rem;
}



/* Header Styles */
header {
    align-items: center;
    border-bottom: 1px solid rgba(22, 22, 22, .16);
    display: flex;
    justify-content: space-between;
    line-height: 1.6875;
    min-height: 48px;
    padding: 0 1rem;
}

header h1 {
    font-size: 1.125rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}


/* Hero Styles */
.hero {
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
}

.hero .title {
    color: var(--primary-text-color);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.125;
    margin-bottom: 1.5rem;
    text-align: center;
}

.hero .subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}


.social {
    text-align: center;
}
.social li {
    display: inline-block;
    font-size: 2rem;
}


section > h1 {
    font-size: 2rem;
    margin-bottom: 1.3125rem;
}


footer {
    align-items: flex-end;
    background-color: var(--primary-footer-bg-color);
    color: var(--primary-footer-text-color);
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
}

footer a:link,
footer a:visited {
    color: var(--primary-footer-link-color);
}
footer a:hover,
footer a:active {
    color: var(--primary-footer-hover-color);
}


.primary {
    background-color: #7510F7;
    color: #fff;
    padding: 4rem 2rem 10rem 2rem;
}

.about {
    margin-top: -5rem;
}
.inlay-box {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    margin: 0 auto;
    padding: 1rem;
}


/* Media Queries */

@media (min-width: 50em) {
    .primary {
        padding: 4rem 3rem 10rem 3rem;
    }

    .inlay-box {
        padding: 2rem;
    }
}
@media (min-width: 60em) {
    /* Set padding on each section, for consistency */
    body > * {
        /* padding: 3rem; */
    }

    header {
        min-height: 90px;
        padding: 0 4rem;
    }

    header h1 {
        font-size: 1.125rem;
        width: auto;
    }

    .hero {
        padding: 5rem;
    }
    .hero .title {
        font-size: 3rem;
    }
    .hero .subtitle {
        font-size: 1.5rem;
    }
}