---
import '../styles/main.css';
---

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <title>Brett Baisley</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Check out my personal website. This is a hobby/portfolio site, in that I intend to test some of the latest web technologies here, while highlighting some of my work experience and personal interests.">
    <meta name="keywords" content="Brett, Baisley, person site, responsive, sre, site reliability entineer, react, javascript, html, css, hobbies, portfolio"/>
    <meta name="author" content="Brett Baisley" />
    <meta name="copyright" content="Brett Baisley" />
    <meta name=”robots” content="index, nofollow"> 
    <meta charset=“utf-8”> 
    <link rel="canonical" href="https://brettbaisley.com/" />

    <link rel="icon" type="image/svg+xml" href="/assets/logo.svg" />
    <script async src="https://kit.fontawesome.com/a7eaee4ed0.js" crossorigin="anonymous"></script>
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "180b55edc86d40dcb2ac9d87d30d7843"}'></script>
  </head>
  
<body class="md:text-xl"></body>
    <slot />
</body>
</html>
